.navigation {
  display: grid;
  grid-template-columns: 150px auto;
  border: 1px solid #c4c4c4;
}
.navigation img {
  width: 100%;
  padding-left: 5px;
  padding-top: 5px;
}
input {
  width: 400px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid #c4c4c4;
  padding-left: 30px;
  padding-top: 15px;
  margin: 10px 30px;
}
button {
  width: 100px;
  height: 40px;
  color: white;
  background-color: #4285f3;
  border-color: #1a5fd0;
  border: 5px;
  border-radius: 5px;
  padding-top: 5px;
}
.main {
  border: 1px solid #c4c4c4;
  padding: 10px 180px;
}
p {
  width: 700px;
}
body {
  font-family: Helvetica, Arial, sans-serif;
}
h2 {
  font-size: 24px;
  color: #1a0dab;
  font-weight: normal;
}
#thisLink {
  text-decoration: none;
}
p {
  font-size: 14px;
  color: #5b5b5b;
}
.list {
  display: grid;
  grid-template-columns: 150px 120px 150px;
  font-size: 12px;
  color: #1a0dab;
}
.links {
  display: grid;
  grid-template-columns: 150px 150px;
  font-size: 12px;
  color: #1a0dab;
}
.span {
  margin-top: 30px;
  margin-bottom: 30px;
}
a:visited{
  color: #5b5b5b;
}
small {
  font-weight: bold;
}
